# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here
ORDER_BOT_TOKEN=your_order_bot_token_here
ADMIN_USER_ID=your_admin_user_id_here
BINANCE_WALLET_TOKEN=
BINANCE_WALLET_ID=


# MongoDB Configuration
MONGODB_URL=mongodb://admin:password123@localhost:27017/telegram_bot?authSource=admin

# MongoDB Credentials (for Docker)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_INITDB_DATABASE=telegram_bot

# Application Settings
DEBUG=False
LOG_LEVEL=INFO
